@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url("https://img.freepik.com/premium-vector/dark-gradient-vector-background-with-copy-space_901408-30487.jpg?semt=ais_hybrid");
    background-size: cover;
    background-position: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    
    
    
}

.table{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
